name: Gradle Test, Build, Checkstyle and Code Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: gradle:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Build with Gradle
        uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
        with:
          arguments: build

  test:
    runs-on: ubuntu-latest
    container:
      image: gradle:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Run Gradle Tests
        run: ./gradlew test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
         CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
         file: ./build/reports/jacoco/test/jacocoTestReport.xml
      - name: Check Test Coverage
        run: |
         COVERAGE=$(sed -n 's/.*<counter covered="\([0-9]*\)" missed="[0-9]*" type="INSTRUCTION".*/\1/p' ./build/reports/jacoco/test/jacocoTestReport.xml)
         THRESHOLD=95
         
         echo "Coverage is $COVERAGE%."
         if [ "$COVERAGE" -lt "$THRESHOLD" ]; then
           echo "Test coverage is below $THRESHOLD%. Failing the workflow."
           exit 1
         fi

  checkstyle:
    runs-on: ubuntu-latest
    container:
      image: gradle:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Run Checkstyle
        run: |
          ./gradlew checkstyleMain checkstyleTest
